<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Iniciar sesión</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<!-- PWA meta -->
<link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
<meta name="theme-color" content="#00834e">
<link rel="apple-touch-icon" href="{{ url_for('static', filename='icons/icon-512.png') }}">

</head>
<body class="login-page">

  <div class="card">
    <img src="{{ url_for('static', filename='img/confe_2025.jpg') }}" class="card-img-top" alt="Conferencia ETERNO">
    <div class="card-body">
      <h4 class="card-title text-center mb-4">Iniciar sesión</h4>

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="alert alert-warning">
            {{ messages[0] }}
          </div>
        {% endif %}
      {% endwith %}

      <form method="POST">
        <div class="mb-3">
          <input type="text" class="form-control" name="username" placeholder="Usuario" required>
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" name="password" placeholder="Contraseña" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Entrar</button>
      </form>
    </div>
  </div>

</body>
<script>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register("{{ url_for('static', filename='sw.js') }}")
      .then(reg => console.log("Service Worker registrado:", reg))
      .catch(err => console.warn("Error al registrar SW:", err));
  }
</script>

</html>
