{% extends "layout.html" %}

{% block title %}Registro de Usuario{% endblock %}
{% block h1 %}Registro de Usuario {% endblock %}

{% block content %}
<div class="container mt-5" style="max-width: 500px;">
  <form method="POST" class="card p-4 shadow-sm border-0 bg-light">
      <div class="mb-3">
      <label for="name" class="form-label">Nombre</label>
      <input type="text" name="name" class="form-control" placeholder="Nombre" required>
    </div>
    <div class="mb-3">
      <label for="username" class="form-label">Usuario</label>
      <input type="text" name="username" class="form-control" placeholder="Usuario" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Contraseña</label>
      <input type="password" name="password" class="form-control" placeholder="Contraseña" required>
    </div>
    <div class="mb-3">
      <label for="rol" class="form-label">Rol</label>
      <select name="rol" class="form-select">
        <option value="staff">Staff</option>
        <option value="coord">Coordinator</option>
        <option value="admin">Admin</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary w-100">Registrar Usuario</button>
  </form>
</div>
{% endblock %}
